jl-search {
  display: inline-block;

  --_padding: var(--padding, .5em);
  --_shadow-color: var(--c-outline );
  --_hover-color: var(--c-on-surface );
  --_focus-color: var(--c-primary);
  --_disabled-color: var(--c-outline-a33);
	--_field-bg:  var(--c-background);
  --_disabled_content_opacity: var(--opacity-disabled-content, .38);
  --_border-width: .15rem;
  --_border-width-focus: .25rem;
  --_border-radius: .35rem;
  --_hr-color: var(--c-surface-dim);

  /* --_ring-disabled: 0 0 0 var(--_border-width) var(--_disabled-color);
  --_ring-unselected: 0 0 0 var(--_border-width) var(--_shadow-color);
  --_ring-focus: 0 0 0 var(--_border-width-focus) var(--_focus-color);
  --_ring-hover: 0 0 0 var(--_border-width) var(--_hover-color); */


  font-family: var(--font-family, sans-serif);
}

jl-search:hover>label {
  /* box-shadow: var(--_ring-hover); */
  outline-color: var(--_hover-color);
}

jl-search>label>.material-symbols-outlined {
  font-size: 1.5em;
  margin: -.25em 0;
  /* Do not contribute to parent height */
  user-select: none;
  /* selecting ligature icons suck */
}

jl-search input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  width: 100%;
}

jl-search input:focus,
jl-search input:focus-within {
  outline: none;
  border: none;
}

jl-search>label {
  /* box-shadow: var(--_ring-unselected); */
  display: flex;
  align-items: center;
  gap: var(--_padding);

  border-radius: var(--_border-radius);
  padding: var(--_padding);
  background: var(--_field-bg);
  transition: box-shadow .2s;

  outline: var(--_border-width) solid var(--_shadow-color);
  /* margin: calc( -1 * var(--_border-width) ); */
}

jl-search>label:focus-within {
  /* box-shadow: var(--_ring-focus); */
  outline: var(--_border-width-focus) solid var(--_focus-color);
  /* margin: calc( -1 * var(--_border-width-focus) ); */
}

jl-search:has(input:disabled) {
  opacity: var(--_disabled_content_opacity);
}

jl-search>label:has(input:disabled) {
  /* box-shadow: var(--_ring-disabled); */
  outline-color: var(--_disabled-color);
}

jl-search .options {
  /* box-shadow: var(--_ring-unselected); */
  border: var(--_border-width-focus) solid var(--_shadow-color);
  border-bottom-right-radius: var(--_border-radius);
  border-bottom-left-radius: var(--_border-radius);

  border-top: 0;
  /* position: relative; */
  position: absolute;

  z-index: 1;
  margin: calc( -1 *  var(--_border-width-focus) );
  background: var(--_field-bg);
  /* background: yellow; */
  visibility:hidden;
}
jl-search[open] .options {
  visibility: visible;
}

jl-search:hover .options{
  border-color: var(--_hover-color);
}
jl-search:has(>label:focus-within) .options {
  border-color: var(--_focus-color);
}


jl-search[open] > label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline-width: var(--_border-width-focus);
}

jl-search .options hr {
  border: thin solid var(--_hr-color);
  margin: 0 var(--_padding);
}

.state-loading {
 animation: spin 2s infinite linear;
}

.state-loading::before {
  content: "progress_activity";
}

.state-normal::before { content: "dictionary" }

jl-search ul {
  list-style: none;
  margin: 0;
  padding: var(--_padding);
}

.feedback {
  font-size: .875em;
  padding: var(--_padding);
  /* padding-left: var(--_padding);
  padding-top: calc( var(--_padding) *.5) */

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
