jl-search {
  display: inline-block;

  --_padding: var(--padding, .5em);
  --_outline-color: var(--c-outline );
  --_shadow-color: var(--c-shadow);
  --_hover-color: var(--c-on-surface );
  --_focus-color: var(--c-primary);
  --_disabled-color: var(--c-outline-a33);
	--_field-bg:  var(--c-background);
  --_disabled_content_opacity: var(--opacity-disabled-content, .38);
  --_border-width: .15rem;
  --_border-width-focus: .25rem;
  --_border-radius: .35rem;
  --_hr-color: var(--c-surface-dim);

  --_drop-shadow: 0 .8rem 1rem 0 rgba(0 0 0 / .5);

  font-family: var(--font-family, sans-serif);
}

jl-search>label>.material-symbols-outlined {
  font-size: 1.5em;
  margin: -.25em 0;
  /* Do not contribute to parent height */
  user-select: none;
  /* selecting ligature icons suck */
}

jl-search input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  width: 100%;
}

jl-search input:focus,
jl-search input:focus-within {
  outline: none;
  border: none;
}

jl-search:hover>label {
  outline-color: var(--_hover-color);
}

jl-search>label {
  display: flex;
  align-items: center;
  gap: var(--_padding);

  border-radius: var(--_border-radius);
  padding: var(--_padding);
  background: var(--_field-bg);
  transition: box-shadow .2s;

  /* Using outline for stable position when outline width changes */
  outline: var(--_border-width) solid var(--_outline-color);

}

jl-search>label:focus-within {
  outline: var(--_border-width-focus) solid var(--_focus-color);
}

jl-search:has(input:disabled) {
  opacity: var(--_disabled_content_opacity);
}

jl-search>label:has(input:disabled) {
  outline-color: var(--_disabled-color);
}

jl-search[open] > label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline-width: var(--_border-width-focus);

  box-shadow: var(--_drop-shadow);
}


jl-search .options {
  border: var(--_border-width-focus) solid var(--_outline-color);
  border-bottom-right-radius: var(--_border-radius);
  border-bottom-left-radius: var(--_border-radius);
  background: var(--_field-bg);
  border-top: 0;
  margin: 0;
  box-shadow: var(--_drop-shadow);

  /* Using border instead of outline so that the popover can be drawn without
  a top border. Adjust the width and position for aligning with the input that
  uses outline. */
  box-sizing: border-box;
  position: absolute;

  top: anchor(bottom);
  left: calc( anchor(left) - var(--_border-width-focus) );
  width: calc( anchor-size(width) + 2 * var(--_border-width-focus) );
}

/* jl-search[open] .options {
  visibility: visible;
} */

jl-search:hover .options{
  border-color: var(--_hover-color);
}
jl-search:has(>label:focus-within) .options {
  border-color: var(--_focus-color);
}


jl-search .options hr {
  border: thin solid var(--_hr-color);
  margin: 0 var(--_padding);
}

.state-loading {
 animation: spin 2s infinite linear;
}

.state-loading::before {
  content: "progress_activity";
}

.state-normal::before { content: "dictionary" }

jl-search ul {
  list-style: none;
  margin: 0;
  padding: var(--_padding);
}

.feedback {
  font-size: .875em;
  padding: var(--_padding);
  /* padding-left: var(--_padding);
  padding-top: calc( var(--_padding) *.5) */

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
